.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: white;
  color: black;
  visibility: hidden;
}

.todos-container {
  padding: 10px 20px 30px 0;
  width: 100%;
  text-align: center;
}

.todos-container .add-todo-button {
  background-color: #010177;
  border: none;
  color: white;
  padding: 10px 0 10px 0;
  width: 30%;
  border-radius: 10px;
  cursor: pointer;
}

.todo-form-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.todo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  width: 600px;
  height: 50%;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo-form .todo-form-inputs {
  padding-top: 20px;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.todo-form .todo-form-inputs .title-label,
.todo-form .todo-form-inputs .description-label,
.todo-form .todo-form-inputs .priority-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 22px;
}

.todo-form .todo-form-inputs .title-input,
.todo-form .todo-form-inputs .description-input,
.todo-form .todo-form-inputs .priority-input {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  background-color: #eeeeee;
  font-size: 22px;
  border-radius: 10px;
}

.todo-form .todo-form-buttons {
  margin-top: auto;
  height: 15%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo-form .todo-form-buttons .add-todo-form-button,
.todo-form .todo-form-buttons .cancel-todo-button {
  width: 50%;
  background: none;
  border: none;
  cursor: pointer;
  border-top: 1px solid #d6d6d6;
  font-size: 1.2rem;
}

.todo-form .todo-form-buttons .add-todo-form-button {
  border-right: 1px solid #d6d6d6 !important;
  color: #010177;
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  border-radius: 20px;
  width: 90%;
  margin-left: auto;
  margin-bottom: 20px;
  height: 50px;
}

.todo .todo-buttons {
  margin-left: auto;
  padding-right: 10px;
  width: 80px;
}

.todo .todo-title {
  margin: 0 10px 0 10px;
  font-size: 20px;
  font-weight: 500;
}

.todo .todo-description {
  margin-left: 10px;
  max-width: 50%;
  word-wrap: break-word;
  text-align: left;
}

.todo .priority-low,
.todo .priority-medium,
.todo .priority-high,
.todo .disabled {
  width: 20px;
  height: 100%;
}

.todo .priority-low {
  background-color: yellowgreen;
}

.todo .priority-medium {
  background-color: #dbdd46;
}

.todo .priority-high {
  background-color: #be1c1c;
}

.todo .disabled {
  background-color: #d6d6d6;
}

.todo .delete-todo-button,
.todo .edit-todo-button,
.todo .change-todo-status-button {
  background: none;
  border: none;
  cursor: pointer;
}

.todo .change-todo-status-button {
  position: relative;
  margin-left: 8px;
}

.todo .change-todo-status-button::before {
  content: "";
  top: -3px;
  left: 3px;
  position: absolute;
  border: solid 2px;
  width: 30px;
  height: 30px;
}

.todo .placeholder {
  height: 26px;
  width: 26.672px;
}

.todo-done {
  color: #7e7e7e;
  text-decoration: line-through;
}

.categories-container {
  width: 95%;
}

.category-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}

.category-title-container:hover .category-delete-button {
  visibility: visible;
}

.category-title-container .category-name {
  padding-left: 10px;
  margin: 10px 0 10px 0;
  font-weight: 550;
}

.category-title-container .category-delete-button {
  background: none;
  border: none;
  cursor: pointer;
  visibility: hidden;
}

.category-title-container .show-more-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px 0 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.category-title-container .show-more-button.open {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.open-add-category-button {
  background-color: #010177;
  border: none;
  color: white;
  padding: 10px 50px 10px 50px;
  margin: 20px 0 20px 0;
  border-radius: 10px;
  cursor: pointer;
}

.category-form-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.category-form-backdrop .category-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  width: 600px;
  height: 25%;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-form-backdrop .category-form .category-form-buttons {
  margin-top: auto;
  height: 30%;
  width: 100%;
}

.category-form-backdrop .category-form .add-category-button {
  border-right: 1px solid #d6d6d6 !important;
  color: #010177;
}

.category-form-backdrop .category-form .add-category-button,
.category-form-backdrop .category-form .cancel-category-button {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  border-top: 1px solid #d6d6d6;
}

.category-form-backdrop .category-form .category-form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 80%;
  padding: 10px;
  font-size: 24px;
}

.category-form-backdrop .category-form .category-form-label .category-form-input {
  margin-top: 40px;
  height: 40%;
  border: none;
  background-color: #eeeeee;
  font-size: 26px;
  padding-left: 10px;
  border-radius: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/*# sourceMappingURL=index.css.map */